@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 236, 237, 238;
  --background-rgb: 13, 13, 13;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}